@use '../../Styles/Variables.scss' as v;
@import '../../Styles/Responsive/Responsive.scss';

.results{
    width: 900px;
    margin: auto;
    background-color: v.$background;
    border-radius: 5px;
    margin-top: 50px;
    padding: 25px 0px;

    @include tablet{
        width: 100%;  
    }

    .results-container{    
        display: flex;
        flex-direction: column;

        .results-content{
            width: 900px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .4s ease-in-out;

            @include tablet{
                width: 100%;       
            }
    
            h1{
                width: 1025px;
                text-align: center;

                @include tablet{
                    max-width: 100%;
                    font-size: 1.3rem;
                }

                @include mobile{
                    font-size: 1.1rem;
                }
            }
    
            .results-answers{
                margin-top: 25px;
                padding: 20px;
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                @include tablet{
                    width: 100%;
                }
    
                .answer-box{
                    width: 450px;
                    text-align: center;
                    padding: 10px 0px;
                    border-radius: 5px;
                    border: 2px solid v.$main-color;
                    cursor: pointer;
                    transition: all .1s ease-in-out;
                    p{
                        font-family: v.$answer-font-family;
                        transition: all .2s ease-in-out;    
                        
                        @include mobile{
                            font-size: .9rem;
                        }
                    }      

                    @include tablet{
                        width: 100%;
                    }
                }
    
                .correct-answer{
                    background-color: v.$correct-color;
                }

                .incorrect-answer{
                    background-color: v.$incorrect-color;
                }

            }
        }
    }

    .box-button{
        width: 100%;
        text-align: center;
        margin-top: 25px;

        button{
            background-color: v.$selected;        
            width: 200px;
            padding: 10px 0px;
            border: none;
            border-radius: 3px;   
            font-size: 1.2rem;
            cursor: pointer;

            @include mobile{
                width: 150px; 
            }
        }

        button:hover{
            filter: brightness(.8);
        }
        button:active{
            filter: brightness(1);
        }
    }
}