@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

//---------Colors-------------
$main-color: #567189;
$background: #9ba4ac;
$incorrect-color: #D41F36;
$correct-color: #21C24A;
$selected: #0080FF;

//Fonts
$title-font-family: 'Roboto Mono', monospace;
$answer-font-family: 'Open Sans', sans-serif;
